@model SocialNetwork.Models.Post

<h4>Create a new post:</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" asp-controller="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="PostId" />
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Type" type="checkbox"  value="Picture">
                <label class="form-check-label" asp-for="Type">Picture</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Type" type="checkbox"  value="Video">
                <label class="form-check-label" asp-for="Type">Video</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Type" type="checkbox"  value="Poll">
                <label class="form-check-label" asp-for="Type">Poll</label>
            </div>



            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <input asp-for="OwnerId" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CircleId" class="control-label"></label>
                <input asp-for="CircleId" class="form-control" />
                <span asp-validation-for="CircleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


