@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div>To the greatest social network for beer lovers</div>
    </div>
</body>


